@import "../bower_components/bootstrap/less/bootstrap";

@font-family-base: roboto, helvetica, arial, sans-serif;

@headings-font-weight: 300;
@font-size-base: 16px;
@font-size-h1: 100px;

@brand-primary: #006272;

@border-radius-base: 0;
@border-radius-large: 0;
