@import "../bower_components/bootstrap/less/bootstrap";

// Variables
@font-family-base: roboto, helvetica, arial, sans-serif;
@headings-font-weight: 300;
@font-size-base: 16px;
@font-size-h1: 100px;

@brand-primary: #006272;
@border-radius-base: 0;
@border-radius-large: 0;

// Components
.btn-outline {
    background-color: transparent;
    border: 1px solid @text-color;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.table-flex {
    @media only screen and (max-width: @grid-float-breakpoint-max) {
        display: flex;

        thead {
            display: none;
        }

        tr {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: @line-height-computed;
        }

        th,
        td {
            display: block;
            flex: 1;
        }
    }

    @media only screen and (min-width: @grid-float-breakpoint) {
        .table();
        .table-striped();
    }
}
